### Sample Business Data modeling

Notebook models the sample dataset that has been retrived from AWS data exchange.

In [1]:
import configparser
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
config = configparser.ConfigParser()

In [3]:
config.read('clustermds.config')

['clustermds.config']

In [4]:
config['POSTGRES']['PG_DB']

'mdsusbiz'

In [5]:
db = config['POSTGRES']['PG_DB']
user = config['POSTGRES']['PG_UNAME']
passwd = config['POSTGRES']['PG_PASS']
port = config['POSTGRES']['PG_PORT']
host = config['POSTGRES']['PG_HOST']

Using the pandas internal read_sql method to get the data from the DB

In [6]:
credentials = "postgresql://{}:{}@{}:{}/{}".format(user,passwd,host,port,db)

In [7]:
credentials

'postgresql://postgres:1234@172.17.0.2:5432/mdsusbiz'

In [8]:
#using psycopg2 to test connection since there are no tables

import psycopg2
try:
    conn = psycopg2.connect(host=host,dbname=db,user=user,password=passwd,port=port)
except Exception as e:
    print(e)

In [9]:
conn.set_session(autocommit=True)

In [10]:
try:
    cur = conn.cursor()
    
except:
    print(e)

Following steps to start the data modeling

0) Ingest the data into the database under mds Raw Table

1) Identify the primary key that will be used as reference. Design the schema around the data

2) Design the facttable and dimension table

4) Create tables and insert data into the tables

In [11]:
mdsdata = pd.read_csv('sample_mdsUsBusinessDataNoContacts.txt',delimiter='|')

#### Writing additional helpers

In [11]:
#Using pandas read_sql for getting schema
def getSchema(tableName, credentials):
    schema = pd.read_sql("""SELECT * FROM information_schema.columns where table_name='{}'""".format(tableName),con=credentials)
    return schema

In [12]:
#Issue is in using pd.read_sql to write data to the database. so using psycopg2
def queryTable(query):
    try:
        schema = cur.execute(query)
        return 
    except Exception as e:
        print(e)
        
#This doesn't return anything

In [13]:
#Using the pd.read_sql for getting data from db
def queryBase(query):
    requiredTable = pd.read_sql(query,con=credentials)
    return requiredTable

#This returns the dataframe

Data Specification:

Row: 2000 entries, 0 to 1999

Columns: 163 entries, EFX_ID to EFX_EXTRACT_DATE

dtypes: float64(42), int64(26), object(95)

In [14]:
def schemaGen(dataframe, schemaName):
    localSchema = pd.io.sql.get_schema(dataframe,schemaName)
    localSchema = localSchema.replace('TEXT','VARCHAR(255)').replace('INTEGER','NUMERIC').replace('\n','').replace('"',"")
    return "".join(localSchema)

In [53]:
schemaGen(mdsdata,'mdsdata')

'CREATE TABLE mdsdata (EFX_ID NUMERIC,  EFX_NAME VARCHAR(255),  EFX_LEGAL_NAME VARCHAR(255),  EFX_ADDRESS VARCHAR(255),  EFX_CITY VARCHAR(255),  EFX_STATE VARCHAR(255),  EFX_STATEC NUMERIC,  EFX_ZIPCODE NUMERIC,  EFX_ZIP4 REAL,  EFX_LAT REAL,  EFX_LO- REAL,  EFX_GEOPREC NUMERIC,  EFX_REGION REAL,  EFX_CTRYISOCD VARCHAR(255),  EFX_CTRYNUM NUMERIC,  EFX_CTRYNAME VARCHAR(255),  EFX_COUNTYNM VARCHAR(255),  EFX_COUNTY NUMERIC,  EFX_CMSA VARCHAR(255),  EFX_CMSADESC VARCHAR(255),  EFX_SOHO VARCHAR(255),  EFX_BIZ VARCHAR(255),  EFX_RES VARCHAR(255),  EFX_CMRA VARCHAR(255),  EFX_CONGRESS NUMERIC,  EFX_SECADR VARCHAR(255),  EFX_SECCTY VARCHAR(255),  EFX_SECSTAT VARCHAR(255),  EFX_STATEC2 REAL,  EFX_SECZIP REAL,  EFX_SECZIP4 REAL,  EFX_SECLAT REAL,  EFX_SECLO- REAL,  EFX_SECGEOPREC REAL,  EFX_SECREGION REAL,  EFX_SECCTRYISOCD VARCHAR(255),  EFX_SECCTRYNUM NUMERIC,  EFX_SECCTRYNAME VARCHAR(255),  EFX_CTRYTELCD NUMERIC,  EFX_GENDER VARCHAR(255),  EFX_ETHNICITY VARCHAR(255),  EFX_MBE VARCHAR(255),  EFX_WBE VARCHAR(255),  EFX_VET VARCHAR(255),  EFX_BUSSIZE VARCHAR(255),  EFX_GOV VARCHAR(255),  EFX_FGOV VARCHAR(255),  EFX_NONPROFIT VARCHAR(255),  EFX_EDU VARCHAR(255),  EFX_BUSSTAT VARCHAR(255),  EFX_BUSSTATCD REAL,  EFX_WEB VARCHAR(255),  EFX_YREST NUMERIC,  EFX_CORPEMPCNT NUMERIC,  EFX_LOCEMPCNT NUMERIC,  EFX_CORPEMPCD VARCHAR(255),  EFX_LOCEMPCD VARCHAR(255),  EFX_CORPAMOUNT NUMERIC,  EFX_CORPAMOUNTCD VARCHAR(255),  EFX_CORPAMOUNTTP VARCHAR(255),  EFX_CORPAMOUNTPREC VARCHAR(255),  EFX_LOCAMOUNT NUMERIC,  EFX_LOCAMOUNTCD VARCHAR(255),  EFX_LOCAMOUNTTP VARCHAR(255),  EFX_LOCAMOUNTPREC VARCHAR(255),  EFX_PUBLIC REAL,  EFX_STKEXC REAL,  EFX_TCKSYM REAL,  EFX_PRIMSIC REAL,  EFX_SECSIC1 REAL,  EFX_SECSIC2 REAL,  EFX_SECSIC3 REAL,  EFX_SECSIC4 REAL,  EFX_PRIMSICDESC VARCHAR(255),  EFX_SECSICDESC1 VARCHAR(255),  EFX_SECSICDESC2 VARCHAR(255),  EFX_SECSICDESC3 VARCHAR(255),  EFX_SECSICDESC4 VARCHAR(255),  EFX_PRIMNAICSCODE REAL,  EFX_SECNAICS1 REAL,  EFX_SECNAICS2 REAL,  EFX_SECNAICS3 REAL,  EFX_SECNAICS4 REAL,  EFX_PRIMNAICSDESC VARCHAR(255),  EFX_SECNAICSDESC1 VARCHAR(255),  EFX_SECNAICSDESC2 VARCHAR(255),  EFX_SECNAICSDESC3 VARCHAR(255),  EFX_SECNAICSDESC4 VARCHAR(255),  EFX_LEGSUBNUMALL NUMERIC,  EFX_LEGSUBNAMEALL VARCHAR(255),  EFX_LEGSUBADDRESSALL VARCHAR(255),  EFX_LEGSUBCITYALL VARCHAR(255),  EFX_LEGSUBSTATEALL VARCHAR(255),  EFX_LEGSUBZIPCODEALL NUMERIC,  EFX_LEGSUBZIP4ALL REAL,  EFX_LEGSUBCOUNTYALL REAL,  EFX_LEGSUBCTRYISOCDALL VARCHAR(255),  EFX_LEGSUBCTRYNUMALL NUMERIC,  EFX_LEGSUBCTRYNAMEALL VARCHAR(255),  EFX_LEGDOMULTNUMALL NUMERIC,  EFX_LEGDOMULTNAMEALL VARCHAR(255),  EFX_LEGDOMULTADDRESSALL VARCHAR(255),  EFX_LEGDOMULTCITYALL VARCHAR(255),  EFX_LEGDOMULTSTATEALL VARCHAR(255),  EFX_LEGDOMULTZIPCODEALL NUMERIC,  EFX_LEGDOMULTZIP4ALL REAL,  EFX_LEGDOMULTCOUNTYALL REAL,  EFX_LEGDOMULTCTRYISOCDALL VARCHAR(255),  EFX_LEGDOMULTCTRYNUMALL NUMERIC,  EFX_LEGDOMULTCTRYNAMEALL VARCHAR(255),  EFX_LEGULTNUMALL NUMERIC,  EFX_LEGULTNAMEALL VARCHAR(255),  EFX_LEGULTADDRESSALL VARCHAR(255),  EFX_LEGULTCITYALL VARCHAR(255),  EFX_LEGULTSTATEALL VARCHAR(255),  EFX_LEGULTZIPCODEALL VARCHAR(255),  EFX_LEGULTZIP4ALL REAL,  EFX_LEGULTCOUNTYALL REAL,  EFX_LEGULTCTRYISOCDALL VARCHAR(255),  EFX_LEGULTCTRYNUMALL NUMERIC,  EFX_LEGULTCTRYNAMEALL VARCHAR(255),  EFX_LEGULTPARENTIND VARCHAR(255),  EFX_LEGPARENTIND VARCHAR(255),  EFX_LEGLINKEDIND VARCHAR(255),  EFX_AFFLULTNUMALL NUMERIC,  EFX_AFFLULTNAMEALL VARCHAR(255),  EFX_AFFLULTADDRESSALL VARCHAR(255),  EFX_AFFLULTCITYALL VARCHAR(255),  EFX_AFFLULTSTATEALL VARCHAR(255),  EFX_AFFLULTZIPCODEALL REAL,  EFX_AFFLULTZIP4ALL REAL,  EFX_AFFULTCOUNTYALL REAL,  EFX_AFFLULTCTRYISOCDALL VARCHAR(255),  EFX_AFFLULTCTRYNUMALL NUMERIC,  EFX_AFFLULTCTRYNAMEALL VARCHAR(255),  EFX_AFFLLINKEDIND VARCHAR(255),  EFX_FRANCHISE VARCHAR(255),  EFX_AFFLULTPARENTIND VARCHAR(255),  EFX_AFFLPARENTIND VARCHAR(255),  EFX_FOREIGN VARCHAR(255),  EFX_FAILRATE REAL,  EFX_FAILLEVEL REAL,  EFX_FAILREASON1 VARCHAR(255),  EFX_FAILREASON2 VARCHAR(255),  EFX_FAILREASON3 VARCHAR(255),  EFX_FAILREASON4 VARCHAR(255),  EFX_CREDITSCORE REAL,  EFX_CREDITCLASS REAL,  EFX_CREDITPERC REAL,  EFX_CREDITREASON1 VARCHAR(255),  EFX_CREDITREASON2 VARCHAR(255),  EFX_CREDITREASON3 VARCHAR(255),  EFX_CREDITREASON4 VARCHAR(255),  EFX_BANKRUPTCY VARCHAR(255),  EFX_DEAD REAL,  EFX_DEADDT REAL,  EFX_MRKT_TELEVER VARCHAR(255),  EFX_MRKT_TELESCORE NUMERIC,  EFX_MRKT_TOTALSCORE NUMERIC,  EFX_MRKT_TOTALIND VARCHAR(255),  EFX_MRKT_VACANT VARCHAR(255),  EFX_MRKT_SEASONAL REAL,  EFX_EXTRACT_DATE VARCHAR(255))'

In [18]:
createTable1 = """CREATE TABLE mdsdata (EFX_ID NUMERIC,  EFX_NAME VARCHAR(255),  EFX_LEGAL_NAME VARCHAR(255),  EFX_ADDRESS VARCHAR(255),  EFX_CITY VARCHAR(255),  EFX_STATE VARCHAR(255),  EFX_STATEC NUMERIC,  EFX_ZIPCODE NUMERIC,  EFX_ZIP4 REAL,  EFX_LAT REAL,  EFX_LO REAL,  EFX_GEOPREC NUMERIC,  EFX_REGION REAL,  EFX_CTRYISOCD VARCHAR(255),  EFX_CTRYNUM NUMERIC,  EFX_CTRYNAME VARCHAR(255),  EFX_COUNTYNM VARCHAR(255),  EFX_COUNTY NUMERIC,  EFX_CMSA VARCHAR(255),  EFX_CMSADESC VARCHAR(255),  EFX_SOHO VARCHAR(255),  EFX_BIZ VARCHAR(255),  EFX_RES VARCHAR(255),  EFX_CMRA VARCHAR(255),  EFX_CONGRESS NUMERIC,  EFX_SECADR VARCHAR(255),  EFX_SECCTY VARCHAR(255),  EFX_SECSTAT VARCHAR(255),  EFX_STATEC2 REAL,  EFX_SECZIP REAL,  EFX_SECZIP4 REAL,  EFX_SECLAT REAL,  EFX_SECLO REAL,  EFX_SECGEOPREC REAL,  EFX_SECREGION REAL,  EFX_SECCTRYISOCD VARCHAR(255),  EFX_SECCTRYNUM NUMERIC,  EFX_SECCTRYNAME VARCHAR(255),  EFX_CTRYTELCD NUMERIC,  EFX_GENDER VARCHAR(255),  EFX_ETHNICITY VARCHAR(255),  EFX_MBE VARCHAR(255),  EFX_WBE VARCHAR(255),  EFX_VET VARCHAR(255),  EFX_BUSSIZE VARCHAR(255),  EFX_GOV VARCHAR(255),  EFX_FGOV VARCHAR(255),  EFX_NONPROFIT VARCHAR(255),  EFX_EDU VARCHAR(255),  EFX_BUSSTAT VARCHAR(255),  EFX_BUSSTATCD REAL,  EFX_WEB VARCHAR(255),  EFX_YREST NUMERIC,  EFX_CORPEMPCNT NUMERIC,  EFX_LOCEMPCNT NUMERIC,  
EFX_CORPEMPCD VARCHAR(255),  EFX_LOCEMPCD VARCHAR(255),  EFX_CORPAMOUNT NUMERIC,  EFX_CORPAMOUNTCD VARCHAR(255),  EFX_CORPAMOUNTTP VARCHAR(255),  EFX_CORPAMOUNTPREC VARCHAR(255),  EFX_LOCAMOUNT NUMERIC,  EFX_LOCAMOUNTCD VARCHAR(255),  EFX_LOCAMOUNTTP VARCHAR(255),  EFX_LOCAMOUNTPREC VARCHAR(255),  EFX_PUBLIC REAL,  
EFX_STKEXC REAL,  EFX_TCKSYM REAL,  EFX_PRIMSIC REAL,  EFX_SECSIC1 REAL,  EFX_SECSIC2 REAL,  EFX_SECSIC3 REAL,  EFX_SECSIC4 REAL,  EFX_PRIMSICDESC VARCHAR(255),  
EFX_SECSICDESC1 VARCHAR(255),  EFX_SECSICDESC2 VARCHAR(255),  EFX_SECSICDESC3 VARCHAR(255),  EFX_SECSICDESC4 VARCHAR(255),  EFX_PRIMNAICSCODE REAL,  EFX_SECNAICS1 REAL,  
EFX_SECNAICS2 REAL,  EFX_SECNAICS3 REAL,  EFX_SECNAICS4 REAL,  EFX_PRIMNAICSDESC VARCHAR(255),  EFX_SECNAICSDESC1 VARCHAR(255),  EFX_SECNAICSDESC2 VARCHAR(255),  EFX_SECNAICSDESC3 VARCHAR(255),  
EFX_SECNAICSDESC4 VARCHAR(255),  EFX_LEGSUBNUMALL NUMERIC,  EFX_LEGSUBNAMEALL VARCHAR(255),  EFX_LEGSUBADDRESSALL VARCHAR(255),  EFX_LEGSUBCITYALL VARCHAR(255),  EFX_LEGSUBSTATEALL VARCHAR(255),  EFX_LEGSUBZIPCODEALL NUMERIC,  
EFX_LEGSUBZIP4ALL REAL,  EFX_LEGSUBCOUNTYALL REAL,  EFX_LEGSUBCTRYISOCDALL VARCHAR(255),  EFX_LEGSUBCTRYNUMALL NUMERIC,  EFX_LEGSUBCTRYNAMEALL VARCHAR(255),  EFX_LEGDOMULTNUMALL NUMERIC,  EFX_LEGDOMULTNAMEALL VARCHAR(255),  EFX_LEGDOMULTADDRESSALL VARCHAR(255),  EFX_LEGDOMULTCITYALL VARCHAR(255),  EFX_LEGDOMULTSTATEALL VARCHAR(255),  EFX_LEGDOMULTZIPCODEALL NUMERIC,  EFX_LEGDOMULTZIP4ALL REAL,  EFX_LEGDOMULTCOUNTYALL REAL,  EFX_LEGDOMULTCTRYISOCDALL VARCHAR(255),  EFX_LEGDOMULTCTRYNUMALL NUMERIC,  EFX_LEGDOMULTCTRYNAMEALL VARCHAR(255),  EFX_LEGULTNUMALL NUMERIC,  EFX_LEGULTNAMEALL VARCHAR(255),  EFX_LEGULTADDRESSALL VARCHAR(255),  EFX_LEGULTCITYALL VARCHAR(255),  EFX_LEGULTSTATEALL VARCHAR(255),  EFX_LEGULTZIPCODEALL VARCHAR(255),  EFX_LEGULTZIP4ALL REAL,  EFX_LEGULTCOUNTYALL REAL,  EFX_LEGULTCTRYISOCDALL VARCHAR(255),  EFX_LEGULTCTRYNUMALL NUMERIC,  EFX_LEGULTCTRYNAMEALL VARCHAR(255),  EFX_LEGULTPARENTIND VARCHAR(255),  EFX_LEGPARENTIND VARCHAR(255),  EFX_LEGLINKEDIND VARCHAR(255),  EFX_AFFLULTNUMALL NUMERIC,  EFX_AFFLULTNAMEALL VARCHAR(255),  EFX_AFFLULTADDRESSALL VARCHAR(255),  EFX_AFFLULTCITYALL VARCHAR(255),  EFX_AFFLULTSTATEALL VARCHAR(255),  EFX_AFFLULTZIPCODEALL REAL,  EFX_AFFLULTZIP4ALL REAL,  EFX_AFFULTCOUNTYALL REAL,  EFX_AFFLULTCTRYISOCDALL VARCHAR(255),  EFX_AFFLULTCTRYNUMALL NUMERIC,  EFX_AFFLULTCTRYNAMEALL VARCHAR(255),  EFX_AFFLLINKEDIND VARCHAR(255),  EFX_FRANCHISE VARCHAR(255),  EFX_AFFLULTPARENTIND VARCHAR(255),  EFX_AFFLPARENTIND VARCHAR(255),  EFX_FOREIGN VARCHAR(255),  EFX_FAILRATE REAL,  EFX_FAILLEVEL REAL,  EFX_FAILREASON1 VARCHAR(255),  EFX_FAILREASON2 VARCHAR(255),  EFX_FAILREASON3 VARCHAR(255),  EFX_FAILREASON4 VARCHAR(255),  EFX_CREDITSCORE REAL,  EFX_CREDITCLASS REAL,  EFX_CREDITPERC REAL,  EFX_CREDITREASON1 VARCHAR(255),  EFX_CREDITREASON2 VARCHAR(255),  EFX_CREDITREASON3 VARCHAR(255),  EFX_CREDITREASON4 VARCHAR(255),  EFX_BANKRUPTCY VARCHAR(255),  EFX_DEAD REAL,  EFX_DEADDT REAL,  EFX_MRKT_TELEVER VARCHAR(255),  EFX_MRKT_TELESCORE NUMERIC,  EFX_MRKT_TOTALSCORE NUMERIC,  EFX_MRKT_TOTALIND VARCHAR(255),  EFX_MRKT_VACANT VARCHAR(255),  EFX_MRKT_SEASONAL REAL,  EFX_EXTRACT_DATE VARCHAR(255))"""
queryBase(createTable1)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

### Loading Data

In [21]:
#check if the table in the database has the correct schema
getSchema("mdsdata",credentials)

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,mdsusbiz,public,mdsdata,efx_legsubcountyall,96,None,YES,real,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,mdsusbiz,public,mdsdata,efx_locempcnt,55,None,YES,numeric,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,mdsusbiz,public,mdsdata,efx_legsubctrynumall,98,None,YES,numeric,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,mdsusbiz,public,mdsdata,efx_seclo,33,None,YES,real,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,mdsusbiz,public,mdsdata,efx_legdomultnumall,100,None,YES,numeric,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,mdsusbiz,public,mdsdata,efx_legultaddressall,113,None,YES,character varying,255.0,1020.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
159,mdsusbiz,public,mdsdata,efx_legultcityall,114,None,YES,character varying,255.0,1020.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
160,mdsusbiz,public,mdsdata,efx_legultstateall,115,None,YES,character varying,255.0,1020.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
161,mdsusbiz,public,mdsdata,efx_legultzipcodeall,116,None,YES,character varying,255.0,1020.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
162,mdsusbiz,public,mdsdata,efx_legultctryisocdall,119,None,YES,character varying,255.0,1020.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES

In [24]:
copymdsData = """COPY mdsdata from '/var/lib/postgresql/data/sample_mdsUsBusinessDataNoContacts.txt'
        DELIMITER '|' CSV HEADER"""
queryTable(copymdsData)

In [101]:
checkmdsData = """SELECT * FROM mdsdata ORDER BY efx_id ASC LIMIT 1"""
queryBase(checkmdsData)

,efx_id,efx_name,efx_legal_name,efx_address,efx_city,efx_state,efx_statec,efx_zipcode,efx_zip4,efx_lat,...,efx_bankruptcy,efx_dead,efx_deaddt,efx_mrkt_telever,efx_mrkt_telescore,efx_mrkt_totalscore,efx_mrkt_totalind,efx_mrkt_vacant,efx_mrkt_seasonal,efx_extract_date
0,1.0,WOODS ARCADE WILLOWS,WOODS ARCADE WILLOWS,123 MAIN SRD,BOSTON,MA,25.0,10011.0,1869.0,42.356213,...,None,None,None,Y,5.0,5.0,M,None,None,6/21/2021

### What is the objective modeling mdsData?

1) To break the 163 column data into easily manageable chunks of conceptual information
2) Create a star Schema to enable ease of data analysis

In [37]:
dataColumns = mdsdata.columns

In [103]:
dataColumns[135:163]

Index(['EFX_AFFLLINKEDIND', 'EFX_FRANCHISE', 'EFX_AFFLULTPARENTIND',
       'EFX_AFFLPARENTIND', 'EFX_FOREIGN', 'EFX_FAILRATE', 'EFX_FAILLEVEL',
       'EFX_FAILREASON1', 'EFX_FAILREASON2', 'EFX_FAILREASON3',
       'EFX_FAILREASON4', 'EFX_CREDITSCORE', 'EFX_CREDITCLASS',
       'EFX_CREDITPERC', 'EFX_CREDITREASON1', 'EFX_CREDITREASON2',
       'EFX_CREDITREASON3', 'EFX_CREDITREASON4', 'EFX_BANKRUPTCY', 'EFX_DEAD',
       'EFX_DEADDT', 'EFX_MRKT_TELEVER', 'EFX_MRKT_TELESCORE',
       'EFX_MRKT_TOTALSCORE', 'EFX_MRKT_TOTALIND', 'EFX_MRKT_VACANT',
       'EFX_MRKT_SEASONAL', 'EFX_EXTRACT_DATE'],
      dtype='object')

In [106]:
mdsdata[['EFX_FOREIGN', 'EFX_FAILRATE', 'EFX_FAILLEVEL',
       'EFX_FAILREASON1', 'EFX_CREDITSCORE', 'EFX_CREDITCLASS',
       'EFX_CREDITPERC', 'EFX_CREDITREASON1', 'EFX_CREDITREASON2',
       'EFX_CREDITREASON3', 'EFX_CREDITREASON4', 'EFX_MRKT_TELEVER', 'EFX_MRKT_TELESCORE',
       'EFX_MRKT_TOTALSCORE', 'EFX_MRKT_TOTALIND']].describe(include='all')

,EFX_FOREIGN,EFX_FAILRATE,EFX_FAILLEVEL,EFX_FAILREASON1,EFX_CREDITSCORE,EFX_CREDITCLASS,EFX_CREDITPERC,EFX_CREDITREASON1,EFX_CREDITREASON2,EFX_CREDITREASON3,EFX_CREDITREASON4,EFX_MRKT_TELEVER,EFX_MRKT_TELESCORE,EFX_MRKT_TOTALSCORE,EFX_MRKT_TOTALIND
count,4,1183.000000,1183.000000,480,1981.000000,1981.000000,1981.000000,1149,1149,1146,1082,2000,2000.00000,2000.000000,2000
unique,1,NaN,NaN,8,NaN,NaN,NaN,12,21,22,19,2,NaN,NaN,2
top,Y,NaN,NaN,C5007,NaN,NaN,NaN,C0066,C0066,C1209,C1324,Y,NaN,NaN,M
freq,4,NaN,NaN,250,NaN,NaN,NaN,511,327,217,267,1346,NaN,NaN,1348
mean,NaN,3.153001,1.300930,NaN,442.134780,3.175669,40.147905,NaN,NaN,NaN,NaN,NaN,3.65600,3.577000,NaN
std,NaN,2.030917,0.506196,NaN,66.687357,0.747003,18.303884,NaN,NaN,NaN,NaN,NaN,1.86478,1.824482,NaN
min,NaN,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,1.00000,1.000000,NaN
25%,NaN,1.000000,1.000000,NaN,427.000000,3.000000,31.000000,NaN,NaN,NaN,NaN,NaN,1.00000,1.000000,NaN
50%,NaN,3.000000,1.000000,NaN,461.000000,3.000000,39.000000,NaN,NaN,NaN,NaN,NaN,5.00000,5.000000,NaN
75%,NaN,5.000000,2.000000,NaN,474.000000,3.000000,44.000000,NaN,NaN,NaN,NaN,NaN,5.00000,5.000000,NaN
max,NaN,9.000000,3.000000,NaN,545.000000,5.000000,97.000000,NaN,NaN,NaN,NaN,NaN,5.00000,5.000000,NaN

### How to select the columns that will be important for the analysis?

1) Select the columns and run a describe(include='all) command 

2) Each column in the result will have a count in 1st row of the describe result

3) If the count is more than 50% of the overall count, then take the data in the row.

4) The columns that are below 50% are saved as miscellaneous. (this calls for unwanted work)

The above process uses the Schema generated by Pandas on the input data frame. It uses the describe() method to identify the important columns based on the count. 

5) The database tables are created from the columns that are selected from the Pandas dataframe. To build the tables, the schema function is used to get the selected schema. Then it is copied as shown below steps of table creation

6) After that immediately insert the data into the Table that has been created already

7) Check the table is having the data by querying it

In [30]:
dim_location = """CREATE TABLE dim_location (EFX_ID NUMERIC PRIMARY KEY,  EFX_NAME VARCHAR(255),  EFX_LEGAL_NAME VARCHAR(255),  EFX_ADDRESS VARCHAR(255),  EFX_CITY VARCHAR(255),  EFX_STATE VARCHAR(255),  EFX_STATEC NUMERIC,  EFX_ZIPCODE NUMERIC,  EFX_ZIP4 REAL,  EFX_LAT REAL,  EFX_LO REAL,  EFX_GEOPREC NUMERIC,  EFX_REGION REAL,  EFX_CTRYISOCD VARCHAR(255),  EFX_CTRYNUM NUMERIC,  EFX_CTRYNAME VARCHAR(255),  EFX_COUNTYNM VARCHAR(255),  EFX_COUNTY NUMERIC)"""
queryTable(dim_location)

In [70]:
insert_location = """INSERT INTO dim_location (EFX_ID, EFX_NAME, EFX_LEGAL_NAME, EFX_ADDRESS, EFX_CITY,
                       EFX_STATE, EFX_STATEC, EFX_ZIPCODE, EFX_ZIP4, EFX_LAT,
                       EFX_LO, EFX_GEOPREC, EFX_REGION, EFX_CTRYISOCD, EFX_CTRYNUM,
                       EFX_CTRYNAME, EFX_COUNTYNM, EFX_COUNTY)
                     SELECT EFX_ID, EFX_NAME, EFX_LEGAL_NAME, EFX_ADDRESS, EFX_CITY,
                       EFX_STATE, EFX_STATEC, EFX_ZIPCODE, EFX_ZIP4, EFX_LAT,
                       EFX_LO, EFX_GEOPREC, EFX_REGION, EFX_CTRYISOCD, EFX_CTRYNUM,
                       EFX_CTRYNAME, EFX_COUNTYNM, EFX_COUNTY
                     FROM mdsdata"""
queryTable(insert_location)

In [71]:
queryBase("""SELECT * FROM dim_location LIMIT 1""")

,efx_id,efx_name,efx_legal_name,efx_address,efx_city,efx_state,efx_statec,efx_zipcode,efx_zip4,efx_lat,efx_lo,efx_geoprec,efx_region,efx_ctryisocd,efx_ctrynum,efx_ctryname,efx_countynm,efx_county
0,1.0,WOODS ARCADE WILLOWS,WOODS ARCADE WILLOWS,123 MAIN SRD,BOSTON,MA,25.0,10011.0,1869.0,42.356213,-71.050415,9.0,None,USA,840.0,United States of America,Hampden County,13.0

In [58]:
dim_business = """CREATE TABLE dim_business(EFX_ID NUMERIC PRIMARY KEY,EFX_BUSSIZE VARCHAR(255),EFX_BUSSTAT VARCHAR(255),  EFX_BUSSTATCD REAL,  EFX_WEB VARCHAR(255),  EFX_YREST NUMERIC,  EFX_CORPEMPCNT NUMERIC,  EFX_LOCEMPCNT NUMERIC,  EFX_CORPEMPCD VARCHAR(255),  EFX_LOCEMPCD VARCHAR(255),  EFX_CORPAMOUNT NUMERIC,  EFX_CORPAMOUNTCD VARCHAR(255),  EFX_CORPAMOUNTTP VARCHAR(255),  EFX_CORPAMOUNTPREC VARCHAR(255),
                                EFX_LOCAMOUNT NUMERIC,  EFX_LOCAMOUNTCD VARCHAR(255),  EFX_LOCAMOUNTTP VARCHAR(255),  EFX_LOCAMOUNTPREC VARCHAR(255))"""
queryTable(dim_business)

In [73]:
insert_business = """ INSERT INTO dim_business(EFX_ID, EFX_BUSSIZE, EFX_BUSSTAT,
               EFX_BUSSTATCD, EFX_WEB, EFX_YREST, EFX_CORPEMPCNT,
               EFX_LOCEMPCNT, EFX_CORPEMPCD, EFX_LOCEMPCD, EFX_CORPAMOUNT,
               EFX_CORPAMOUNTCD, EFX_CORPAMOUNTTP, EFX_CORPAMOUNTPREC,
               EFX_LOCAMOUNT, EFX_LOCAMOUNTCD, EFX_LOCAMOUNTTP,
               EFX_LOCAMOUNTPREC)
            SELECT EFX_ID, EFX_BUSSIZE, EFX_BUSSTAT,
               EFX_BUSSTATCD, EFX_WEB, EFX_YREST, EFX_CORPEMPCNT,
               EFX_LOCEMPCNT, EFX_CORPEMPCD, EFX_LOCEMPCD, EFX_CORPAMOUNT,
               EFX_CORPAMOUNTCD, EFX_CORPAMOUNTTP, EFX_CORPAMOUNTPREC,
               EFX_LOCAMOUNT, EFX_LOCAMOUNTCD, EFX_LOCAMOUNTTP,
               EFX_LOCAMOUNTPREC
            FROM mdsdata"""
queryTable(insert_business)

In [74]:
queryBase("""SELECT * FROM dim_business LIMIT 1""")

,efx_id,efx_bussize,efx_busstat,efx_busstatcd,efx_web,efx_yrest,efx_corpempcnt,efx_locempcnt,efx_corpempcd,efx_locempcd,efx_corpamount,efx_corpamountcd,efx_corpamounttp,efx_corpamountprec,efx_locamount,efx_locamountcd,efx_locamounttp,efx_locamountprec
0,1.0,L,Corporation,4.0,www.woodsarcadewillows.com,1998.0,14229.0,77.0,K,E,4565823.0,K,Corporate Revenue,ACTUAL,4623.0,D,Location Sales,MDL

In [78]:
dim_security = """CREATE TABLE dim_security(EFX_ID NUMERIC PRIMARY KEY,EFX_PRIMSIC REAL,  EFX_SECSIC1 REAL,  EFX_SECSIC2 REAL,EFX_PRIMSICDESC VARCHAR(255),  EFX_SECSICDESC1 VARCHAR(255),  EFX_SECSICDESC2 VARCHAR(255), EFX_PRIMNAICSCODE REAL,  EFX_SECNAICS1 REAL,  EFX_SECNAICS2 REAL, EFX_PRIMNAICSDESC VARCHAR(255),  EFX_SECNAICSDESC1 VARCHAR(255),  EFX_SECNAICSDESC2 VARCHAR(255))"""
queryTable(dim_security)

relation "dim_security" already exists

In [80]:
insert_security = """ INSERT INTO dim_security(EFX_ID, EFX_PRIMSIC, EFX_SECSIC1, EFX_SECSIC2, EFX_PRIMSICDESC, EFX_SECSICDESC1, EFX_SECSICDESC2,
                            EFX_PRIMNAICSCODE,EFX_SECNAICS1, EFX_SECNAICS2,
                            EFX_PRIMNAICSDESC, EFX_SECNAICSDESC1, EFX_SECNAICSDESC2)
                    SELECT EFX_ID, EFX_PRIMSIC, EFX_SECSIC1, EFX_SECSIC2, EFX_PRIMSICDESC, EFX_SECSICDESC1, EFX_SECSICDESC2,
                            EFX_PRIMNAICSCODE,EFX_SECNAICS1, EFX_SECNAICS2, EFX_PRIMNAICSDESC, EFX_SECNAICSDESC1, EFX_SECNAICSDESC2
                    FROM mdsdata"""
queryTable(insert_security)

In [81]:
queryBase("""SELECT * FROM dim_security LIMIT 1""")

,efx_id,efx_primsic,efx_secsic1,efx_secsic2,efx_primsicdesc,efx_secsicdesc1,efx_secsicdesc2,efx_primnaicscode,efx_secnaics1,efx_secnaics2,efx_primnaicsdesc,efx_secnaicsdesc1,efx_secnaicsdesc2
0,1.0,8361.0,8011.0,8300.0,RESIDENTIAL CARE,OFFICES AND CLINICS OF DOCTORS OF MEDICINE,SOCIAL SERVICES,623990.0,623311.0,623110.0,Other Residential Care Facilities,Continuing Care Retirement Communities,Nursing Care Facilities (Skilled Nursing Facil...

In [92]:
dim_legal = """CREATE TABLE dim_legal(EFX_ID NUMERIC PRIMARY KEY,EFX_LEGSUBNUMALL NUMERIC,  EFX_LEGSUBNAMEALL VARCHAR(255),  EFX_LEGSUBADDRESSALL VARCHAR(255),  EFX_LEGSUBCITYALL VARCHAR(255), 
        EFX_LEGSUBSTATEALL VARCHAR(255),  EFX_LEGSUBZIPCODEALL NUMERIC,  EFX_LEGSUBZIP4ALL REAL,  EFX_LEGSUBCOUNTYALL REAL,  EFX_LEGSUBCTRYISOCDALL VARCHAR(255),  EFX_LEGSUBCTRYNUMALL NUMERIC,  
        EFX_LEGSUBCTRYNAMEALL VARCHAR(255),  EFX_LEGDOMULTNUMALL NUMERIC,  EFX_LEGDOMULTNAMEALL VARCHAR(255),  EFX_LEGDOMULTADDRESSALL VARCHAR(255),  EFX_LEGDOMULTCITYALL VARCHAR(255),  
        EFX_LEGDOMULTSTATEALL VARCHAR(255),  EFX_LEGDOMULTZIPCODEALL NUMERIC,  EFX_LEGDOMULTZIP4ALL REAL,  EFX_LEGDOMULTCOUNTYALL REAL,  EFX_LEGDOMULTCTRYISOCDALL VARCHAR(255),  EFX_LEGDOMULTCTRYNUMALL NUMERIC,  
        EFX_LEGDOMULTCTRYNAMEALL VARCHAR(255),  EFX_LEGULTNUMALL NUMERIC,  EFX_LEGULTNAMEALL VARCHAR(255),  EFX_LEGULTADDRESSALL VARCHAR(255),  EFX_LEGULTCITYALL VARCHAR(255),  EFX_LEGULTSTATEALL VARCHAR(255),
        EFX_LEGULTZIPCODEALL VARCHAR(255),  EFX_LEGULTZIP4ALL REAL,  EFX_LEGULTCOUNTYALL REAL,  EFX_LEGULTCTRYISOCDALL VARCHAR(255),  EFX_LEGULTCTRYNUMALL NUMERIC,  EFX_LEGULTCTRYNAMEALL VARCHAR(255))"""
queryTable(dim_legal)

In [93]:
insert_dimLegal = """INSERT INTO dim_legal (EFX_ID, EFX_LEGSUBNUMALL, EFX_LEGSUBNAMEALL,
                           EFX_LEGSUBADDRESSALL, EFX_LEGSUBCITYALL, EFX_LEGSUBSTATEALL,
                           EFX_LEGSUBZIPCODEALL, EFX_LEGSUBZIP4ALL, EFX_LEGSUBCOUNTYALL,
                           EFX_LEGSUBCTRYISOCDALL, EFX_LEGSUBCTRYNUMALL,
                           EFX_LEGSUBCTRYNAMEALL,EFX_LEGDOMULTNUMALL, EFX_LEGDOMULTNAMEALL,
                           EFX_LEGDOMULTADDRESSALL, EFX_LEGDOMULTCITYALL,
                           EFX_LEGDOMULTSTATEALL, EFX_LEGDOMULTZIPCODEALL,
                           EFX_LEGDOMULTZIP4ALL, EFX_LEGDOMULTCOUNTYALL,
                           EFX_LEGDOMULTCTRYISOCDALL, EFX_LEGDOMULTCTRYNUMALL,
                           EFX_LEGDOMULTCTRYNAMEALL, EFX_LEGULTNUMALL, EFX_LEGULTNAMEALL,
                           EFX_LEGULTADDRESSALL, EFX_LEGULTCITYALL, EFX_LEGULTSTATEALL,
                           EFX_LEGULTZIPCODEALL, EFX_LEGULTZIP4ALL, EFX_LEGULTCOUNTYALL,
                           EFX_LEGULTCTRYISOCDALL, EFX_LEGULTCTRYNUMALL,
                           EFX_LEGULTCTRYNAMEALL)
                    SELECT EFX_ID, EFX_LEGSUBNUMALL, EFX_LEGSUBNAMEALL,
                           EFX_LEGSUBADDRESSALL, EFX_LEGSUBCITYALL, EFX_LEGSUBSTATEALL,
                           EFX_LEGSUBZIPCODEALL, EFX_LEGSUBZIP4ALL, EFX_LEGSUBCOUNTYALL,
                           EFX_LEGSUBCTRYISOCDALL, EFX_LEGSUBCTRYNUMALL,
                           EFX_LEGSUBCTRYNAMEALL,EFX_LEGDOMULTNUMALL, EFX_LEGDOMULTNAMEALL,
                           EFX_LEGDOMULTADDRESSALL, EFX_LEGDOMULTCITYALL,
                           EFX_LEGDOMULTSTATEALL, EFX_LEGDOMULTZIPCODEALL,
                           EFX_LEGDOMULTZIP4ALL, EFX_LEGDOMULTCOUNTYALL,
                           EFX_LEGDOMULTCTRYISOCDALL, EFX_LEGDOMULTCTRYNUMALL,
                           EFX_LEGDOMULTCTRYNAMEALL, EFX_LEGULTNUMALL, EFX_LEGULTNAMEALL,
                           EFX_LEGULTADDRESSALL, EFX_LEGULTCITYALL, EFX_LEGULTSTATEALL,
                           EFX_LEGULTZIPCODEALL, EFX_LEGULTZIP4ALL, EFX_LEGULTCOUNTYALL,
                           EFX_LEGULTCTRYISOCDALL, EFX_LEGULTCTRYNUMALL,
                           EFX_LEGULTCTRYNAMEALL
                    FROM mdsdata"""
queryTable(insert_dimLegal)

In [94]:
queryBase("""SELECT * FROM dim_legal LIMIT 1""")

,efx_id,efx_legsubnumall,efx_legsubnameall,efx_legsubaddressall,efx_legsubcityall,efx_legsubstateall,efx_legsubzipcodeall,efx_legsubzip4all,efx_legsubcountyall,efx_legsubctryisocdall,...,efx_legultnameall,efx_legultaddressall,efx_legultcityall,efx_legultstateall,efx_legultzipcodeall,efx_legultzip4all,efx_legultcountyall,efx_legultctryisocdall,efx_legultctrynumall,efx_legultctrynameall
0,1.0,41712345.0,WOODS ARCADE WILLOWS CORP,1600 S BROAD ST,GWM,PA,19348.0,3346.0,29.0,USA,...,WOODS ARCADE WILLOWS CORP,1101 E. STATE ST.,KENNETT AVE,PA,19348,None,None,USA,840.0,United States of America

In [98]:
dim_affiliate = """CREATE TABLE dim_affiliate(EFX_ID NUMERIC PRIMARY KEY, EFX_AFFLULTNUMALL NUMERIC,  EFX_AFFLULTNAMEALL VARCHAR(255),  EFX_AFFLULTADDRESSALL VARCHAR(255),  
                                            EFX_AFFLULTCITYALL VARCHAR(255),  EFX_AFFLULTSTATEALL VARCHAR(255),  EFX_AFFLULTZIPCODEALL REAL,  EFX_AFFLULTZIP4ALL REAL,  EFX_AFFULTCOUNTYALL REAL,  
                                            EFX_AFFLULTCTRYISOCDALL VARCHAR(255),  EFX_AFFLULTCTRYNUMALL NUMERIC,  EFX_AFFLULTCTRYNAMEALL VARCHAR(255))"""

queryTable(dim_affiliate)

In [99]:
insert_affiliate = """INSERT INTO dim_affiliate(EFX_ID, EFX_AFFLULTNUMALL, EFX_AFFLULTNAMEALL,
                               EFX_AFFLULTADDRESSALL, EFX_AFFLULTCITYALL, EFX_AFFLULTSTATEALL,
                               EFX_AFFLULTZIPCODEALL, EFX_AFFLULTZIP4ALL, EFX_AFFULTCOUNTYALL,
                               EFX_AFFLULTCTRYISOCDALL, EFX_AFFLULTCTRYNUMALL,EFX_AFFLULTCTRYNAMEALL)
                    SELECT EFX_ID, EFX_AFFLULTNUMALL, EFX_AFFLULTNAMEALL,
                               EFX_AFFLULTADDRESSALL, EFX_AFFLULTCITYALL, EFX_AFFLULTSTATEALL,
                               EFX_AFFLULTZIPCODEALL, EFX_AFFLULTZIP4ALL, EFX_AFFULTCOUNTYALL,
                               EFX_AFFLULTCTRYISOCDALL, EFX_AFFLULTCTRYNUMALL,EFX_AFFLULTCTRYNAMEALL
                    FROM mdsdata"""

queryTable(insert_affiliate)

In [100]:
queryBase("""SELECT * FROM dim_affiliate LIMIT 1""")

,efx_id,efx_afflultnumall,efx_afflultnameall,efx_afflultaddressall,efx_afflultcityall,efx_afflultstateall,efx_afflultzipcodeall,efx_afflultzip4all,efx_affultcountyall,efx_afflultctryisocdall,efx_afflultctrynumall,efx_afflultctrynameall
0,1.0,13435354.0,WOODS ARCADE WILLOWS CORP,1101 E. STATE ST.,KENNETT AVE,PA,19348.0,None,None,USA,840.0,United States of America

In [107]:
dim_marketData = """CREATE TABLE dim_market(EFX_ID NUMERIC PRIMARY KEY,EFX_FOREIGN VARCHAR(255),  EFX_FAILRATE REAL,  EFX_FAILLEVEL REAL,  EFX_FAILREASON1 VARCHAR(255), EFX_CREDITSCORE REAL,  EFX_CREDITCLASS REAL,  
                    EFX_CREDITPERC REAL,  EFX_CREDITREASON1 VARCHAR(255),EFX_CREDITREASON2 VARCHAR(255),EFX_CREDITREASON3 VARCHAR(255),EFX_CREDITREASON4 VARCHAR(255),
                    EFX_MRKT_TELEVER VARCHAR(255),  EFX_MRKT_TELESCORE NUMERIC, EFX_MRKT_TOTALSCORE NUMERIC,  EFX_MRKT_TOTALIND VARCHAR(255))"""
queryTable(dim_marketData)

In [108]:
insert_marketData = """INSERT INTO dim_market(EFX_ID, EFX_FOREIGN, EFX_FAILRATE, EFX_FAILLEVEL,
                                EFX_FAILREASON1, EFX_CREDITSCORE, EFX_CREDITCLASS,
                               EFX_CREDITPERC, EFX_CREDITREASON1, EFX_CREDITREASON2,
                               EFX_CREDITREASON3, EFX_CREDITREASON4, EFX_MRKT_TELEVER, EFX_MRKT_TELESCORE,
                               EFX_MRKT_TOTALSCORE, EFX_MRKT_TOTALIND)
                     SELECT EFX_ID, EFX_FOREIGN, EFX_FAILRATE, EFX_FAILLEVEL,
                                EFX_FAILREASON1, EFX_CREDITSCORE, EFX_CREDITCLASS,
                               EFX_CREDITPERC, EFX_CREDITREASON1, EFX_CREDITREASON2,
                               EFX_CREDITREASON3, EFX_CREDITREASON4, EFX_MRKT_TELEVER, EFX_MRKT_TELESCORE,
                               EFX_MRKT_TOTALSCORE, EFX_MRKT_TOTALIND
                    FROM mdsdata"""
queryTable(insert_marketData)

In [109]:
queryBase("""SELECT * FROM dim_market LIMIT 1""")

,efx_id,efx_foreign,efx_failrate,efx_faillevel,efx_failreason1,efx_creditscore,efx_creditclass,efx_creditperc,efx_creditreason1,efx_creditreason2,efx_creditreason3,efx_creditreason4,efx_mrkt_telever,efx_mrkt_telescore,efx_mrkt_totalscore,efx_mrkt_totalind
0,1.0,None,3.0,1.0,None,386.0,4.0,22.0,C0066,C1175,C1065,C0392,Y,5.0,5.0,M

The 163 column dataset has been seperated into the individual tables with its own primary key. The tables are segregated by the type of the data contained in the column. The schema is still incomplete. The fact table is yet to be build. To build that the probable facts needs to be reviewed and created.

That will be the next step... Before that, need to identfy the facts that needs to be in the factsTable. The facts are numeric in nature. So starting with dim_market table, list the important looking ("what you think important") below

dim_market has "efx_mrkt_totalscore", efx_creditscore, efx_failrate, efx_creditperc

dim_business has efx_busstatcd, efx_corpempcnt, efx_locempcnt,efx_corpamount, efx_locamount

Now lets build the factTable

In [16]:
testQuery = """SELECT dl.efx_name, dm.efx_mrkt_totalscore, dm.efx_creditscore, dm.efx_failrate, 
                      dm.efx_creditperc, db.efx_busstatcd, db.efx_corpempcnt, db.efx_locempcnt,
                      db.efx_corpamount, db.efx_locamount
                FROM dim_market AS dm 
                JOIN dim_location AS dl ON dm.efx_id = dl.efx_id
                JOIN dim_business AS db ON dl.efx_id = db.efx_id
                LIMIT 5"""
queryBase(testQuery)

,efx_name,efx_mrkt_totalscore,efx_creditscore,efx_failrate,efx_creditperc,efx_busstatcd,efx_corpempcnt,efx_locempcnt,efx_corpamount,efx_locamount
0,WOODS ARCADE WILLOWS,5.0,386.0,3.0,22.0,4.0,14229.0,77.0,4565823.0,4623.0
1,ABCDE RENTALS,5.0,NaN,6.0,NaN,4.0,19100.0,12.0,8530000.0,3004.0
2,ABCD DOWNSTREET BANK,5.0,507.0,3.0,72.0,4.0,85.0,19.0,8036.0,3207.0
3,ABCDE FURNITTURE CO,1.0,212.0,1.0,4.0,4.0,37900.0,220.0,80077865.0,0.0
4,DUMMY PARK AND RECREATION INC,5.0,333.0,7.0,10.0,4.0,66.0,20.0,10194.0,7484.0

In [19]:
createFact = """CREATE TABLE factTable(efx_id NUMERIC,
                    location_key INTEGER REFERENCES dim_location(efx_id),
                    business_key INTEGER REFERENCES dim_business(efx_id),
                    security_key INTEGER REFERENCES dim_security(efx_id),
                    market_key INTEGER REFERENCES dim_market(efx_id),
                    legal_key INTEGER REFERENCES dim_legal(efx_id),
                    affiliate_key INTEGER REFERENCES dim_affiliate(efx_id),
                    efx_name VARCHAR(255), efx_mrkt_totalscore REAL, 
                    efx_creditscore REAL, efx_failrate REAL, 
                    efx_creditperc REAL,efx_busstatcd REAL, 
                    efx_corpempcnt REAL,efx_locempcnt REAL,
                    efx_corpamount REAL, efx_locamount REAL)"""
queryTable(createFact)

In [22]:
insertFact = """INSERT INTO factTable(
                    location_key,
                    business_key,
                    security_key,
                    market_key,
                    legal_key,
                    affiliate_key,
                    efx_name, efx_mrkt_totalscore, efx_creditscore,efx_failrate, 
                    efx_creditperc,efx_busstatcd,efx_corpempcnt,efx_locempcnt,
                    efx_corpamount,efx_locamount)
                SELECT dl.efx_id as location_key,
                    db.efx_id as business_key,
                    ds.efx_id as security_key,
                    dm.efx_id as market_key,
                    dle.efx_id as legal_key,
                    df.efx_id as affiliate_key,
                    dl.efx_name, dm.efx_mrkt_totalscore, dm.efx_creditscore, dm.efx_failrate, 
                    dm.efx_creditperc, db.efx_busstatcd, db.efx_corpempcnt, db.efx_locempcnt,
                    db.efx_corpamount, db.efx_locamount
                FROM dim_market AS dm 
                JOIN dim_location AS dl ON dm.efx_id = dl.efx_id
                JOIN dim_business AS db ON dl.efx_id = db.efx_id
                JOIN dim_affiliate AS df ON db.efx_id = df.efx_id
                JOIN dim_legal AS dle ON df.efx_id = dle.efx_id
                JOIN dim_security AS ds ON dle.efx_id = ds.efx_id
                """
queryTable(insertFact)

In [24]:
queryBase("""SELECT * FROM facttable LIMIT 2""")

,efx_id,location_key,business_key,security_key,market_key,legal_key,affiliate_key,efx_name,efx_mrkt_totalscore,efx_creditscore,efx_failrate,efx_creditperc,efx_busstatcd,efx_corpempcnt,efx_locempcnt,efx_corpamount,efx_locamount
0,None,1,1,1,1,1,1,WOODS ARCADE WILLOWS,5.0,386.0,3.0,22.0,4.0,14229.0,77.0,4565823.0,4623.0
1,None,2,2,2,2,2,2,ABCDE RENTALS,5.0,NaN,6.0,NaN,4.0,19100.0,12.0,8530000.0,3004.0

The efx_id is redundant in the facttable as it is referenced from multiple tables already. 
Another point to note is the record count is same in all the table. So these many references 
might seem not a requirement. They are required anyway, to provide each type of analysis to be sepeated.